<div class="shadow-block">

  <div class="modal-container">
    <i class="icon btn closeBtn" (click)="onCancel()"></i>

    <h4>{{isEdit ? 'Редактировать ' : 'Создать ' }}товар</h4>

    <div class="inputs-container">

      <form [formGroup]="productForm" (submit)="onSubmit($event)">

        <label [ngClass]="[form.title.errors && submitted ? 'error' : '']">
          Название:
          <input
            type="text"
            formControlName="title"
            required="true"
            placeholder="Введите название"
          >
        </label>

        <label>
          Описание:
          <textarea
            formControlName="description"
            placeholder="Введите описание">
          </textarea>
        </label>

        <div class="half-inputs-container">
          <label [ngClass]="['half-width', form.price.errors && submitted ? 'error' : '']">
            Цена:
            <input
              type="number"
              formControlName="price"
              required="true"
              placeholder="0.00">
          </label>

          <label [ngClass]="['half-width']">
            Тип:
            <app-dropdown
              [options]="typesArr"
              (onChange)="changeType($event)"
              [error]="form.type.errors && submitted"
              [value]="product ? productTypesEnum[product.type] : null"
              placeholder="Выберите тип">
            </app-dropdown>
          </label>
        </div>

        <div class="half-inputs-container">
          <label class="half-width">
            Размеры:
            <input
              type="text"
              formControlName="size"
              placeholder="Введите размеры">
          </label>

          <label class="half-width" [ngClass]="[
            'half-width',
            subTypesArr.length ? '' : 'disabled'
          ]">
            Подтип:
            <app-dropdown
              [options]="subTypesArr"
              (onChange)="changeSubType($event)"
              [error]="form.subType.errors && submitted"
              [value]="product ? productSubTypes[product.type][product.subType] : null"
              placeholder="Выберите подтип">
            </app-dropdown>
          </label>
        </div>

        <app-image-loader (onLoadImage)="onLoadImage($event)" [value]="product ? product.image : null">
        </app-image-loader>

        <div class="btns-container">
          <button class="btn delete-btn" *ngIf="isEdit" (click)="confirmModalTrigger($event)">Удалить</button>

          <button class="btn save-btn" (click)="onSubmit($event)">Сохранить</button>
          <button class="btn cancel-btn" (click)="onCancel()">Отмена</button>
        </div>

      </form>

    </div>
  </div>

</div>

<app-alert-modal
  *ngIf="confirmModalShown"
  text="Вы уверены, что хотите удалить этот товар?"
  (onCancel)="confirmModalTrigger($event)"
  (onConfirm)="deleteProduct()">
</app-alert-modal>
