@import "~src/conts";

.modal-container {

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 20px 80px 20px;

    .half-inputs-container {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      width: 100%;
    }

    label {
      position: relative;
      display: block;
      width: 100%;
      margin-bottom: @defaultPadding;
      transition: opacity 150ms linear;
      opacity: 1;

      &.half-width {
        width: 48%;
      }

      input {
        height: 34px;
      }

      textarea {
        height: 100px;
      }

      input,
      textarea{
        padding: @defaultPadding;
        color: @dark;
        border-radius: @defaultBorderRadius;
        resize: none;
        width: 100%;
        outline: none;
        border: 1px solid #e4e4e4;
        font-size: .8em;
        font-family: @appleFont;

        &:focus {
          border: 1px solid @dark;
        }
      }

      &.disabled {
        pointer-events: none;
        opacity: .4;
      }

      &.error {
        input, textarea {
          border-color: red;
        }
      }
    }

    .btns-container {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      border-radius: 0 0 13px 13px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-end;
      padding: @defaultPadding 20px;

      .delete-btn {
        background: @red;
        position: absolute;
        color: #ffffff;
        left: 20px;

        &:hover {
          background: #ff5a5a;
        }
      }

      .cancel-btn {
        background: #e3e3e3;
        margin-left: 20px;
        transition: background 150ms linear;

        &:hover {
          background: #f1f1f1;
        }
      }

      .save-btn {
        background: #59b50d;
        color: #ffffff;
        transition: background 150ms linear;

        &:hover {
          background: #62c50f;
        }
      }
    }
  }
}
