<div class="left-panel-container">

  <ul class="top-level-filters-list">
    <li class="show-all-btn" (click)="showAllProducts()" *ngIf="!!filtered">
      <h4>Показать все</h4>
    </li>

    <li *ngFor="let title of titles; index as num;"
        [ngClass]="[
          'top-level-li',
           num === openedIndex ? 'opened' : '',
           title === mf ? 'active' : ''
        ]">

      <h4 (click)="setMainFilter(title, num)">
        {{title}}
        <i class="btn arrowBtn opened" (click)="accordionTrigger(num)"></i>
      </h4>

      <ul class="second-level-filters-list" *ngIf="num === openedIndex">
        <li *ngFor="let subTitle of subTitles[num]"
            (click)="setSubFilter(title, subTitle)"
            [ngClass]="[
              subTitle === sf ? 'active' : '',
              num === openedIndex ? 'shown' : ''
            ]">
          {{subTitle}}
        </li>
      </ul>

    </li>

  </ul>

</div>
