@import "../../../conts";

.left-panel-container {
  position: relative;
  height: auto;
  min-height: 500px;
  width: 250px;
  font-size: .9em;

  .top-level-filters-list {

    li {
      position: relative;
      margin-bottom: 8px;

      h4 {
        position: relative;
        margin-bottom: calc(@defaultPadding*1.5);

        &:hover {
          color: @hoveredLink;
          cursor: pointer;
        }

      }

      .arrowBtn {
        position: relative;
        top: 2px;
        display: inline-block;
        margin: 0 @defaultPadding;
        height: 12px;
        width: 12px;
        background: url("~src/assets/icons/arrow-dark.svg") center center no-repeat;
        background-size: contain;
        transform: rotate(90deg);

        &.opened {
          transform: rotate(-90deg);
        }
      }

      .second-level-filters-list {

        li {

          &:hover {
            color: @hoveredLink;
            cursor: pointer;
          }

        }

      }
    }
  }
}
