<div class="shop-container">
  <app-left-panel (filter)="changeTypeFilter($event)" (subFilter)="changeSubTypeFilter($event)"></app-left-panel>

  <ul *ngIf="products.length && !loading" [ngClass]="['products-list', products.length <= 3 ? 'few-products' : '']">
    <li class="product" *ngFor="let product of products" (click)="goToCard(product.id)">
      <div class="img-container">
        <img [src]="product.image" alt="">
      </div>
      <div class="description">{{product.description}}</div>
      <div class="title">{{product.title}}</div>
      <div class="price">{{product.price}} руб</div>

      <button class="more-btn">Подробнее</button>
    </li>
  </ul>

  <div *ngIf="!products.length && !loading">Товара нет :(</div>
</div>
