@font-face {
  font-family: kurale;
  src: url("assets/fonts/kurale.ttf");
}
@appleFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
@usageFont: "Proxima Nova", sans-serif;

@minBodyFontSize: 13px;
@mediumBodyFontSize: 17px;
@maxBodyFontSize: 21px;

@mainBg: #ffffff;
@hoveredLink: #ff0000;

@headerHeight: 500px;

@defaultPadding: 8px;
@defaultBorderRadius: 3px;

//colors
@red: #ff0000;
@dark: #333333;
