<div class="main-header">
    <div class="logo-container">
        <img src="https://cdn3.iconfinder.com/data/icons/logos-and-brands-adobe/512/21_Angular-512.png" />
        <h1>Lazardrag</h1>
    </div>

    <div class="contacts-container">
        <h4>Наши контакты:</h4>
        <ul>
            <li>
                <span>Адрес:</span>
                г.Новосибирск, ул.Геодезическая 23
            </li>
            <li>
                <span>Телефоны:</span>
                +7(383)999-99-99
                +7(913)999-99-99
            </li>
            <li>
                <span>Почта:</span>
                lazardrag@mail.ru
            </li>
        </ul>
    </div>

    <app-main-menu></app-main-menu>
</div>
