<div class="main-menu-container">

    <ul class="main-menu" *ngIf="!isAdminPage">
        <li>
            <a
                    [routerLink]="''"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}"
            >
                Главная
            </a>
        </li>
        <li>
            <a [routerLink]="'/news'" routerLinkActive="active">Новости</a>
        </li>
        <li>
            <a [routerLink]="'/shop'" routerLinkActive="active">Магазин</a>
        </li>
        <li>
            <a [routerLink]="'/about'" routerLinkActive="active">О Нас</a>
        </li>
    </ul>

    <ul class="admin-menu" *ngIf="isAdminPage">
        <li>
            <a>Товары</a>
        </li>
        <li>
            <a>Новости</a>
        </li>
        <li>
            <a>Контент</a>
        </li>
    </ul>
</div>
